<!DOCTYPE html>
<html class="no-js no-touch">
<head>
<!--   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="https://obscure-escarpment-2240.herokuapp.com/stylesheets/bcpo-front.css">
  <script>var bcpo_product={{ product | json }}; {% if product.metafields.bcpo.bcpo_data %}var bcpo_data={{ product.metafields.bcpo.bcpo_data }};{% endif %} {% if shop.metafields.bcpo.bcpo_settings %}var bcpo_settings={{ shop.metafields.bcpo.bcpo_settings }};{% endif %}var inventory_quantity = [];{% for v in product.variants %}inventory_quantity.push({{v.inventory_quantity}});{% endfor %}if(bcpo_product) { for (var i = 0; i < bcpo_product.variants.length; i += 1) { bcpo_product.variants[i].inventory_quantity = inventory_quantity[i]; }}window.bcpo = window.bcpo || {}; bcpo.cart = {{cart | json}}; bcpo.ogFormData = FormData;</script>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width" />

  <title>
    {{ page_title }}

    {% if current_tags %}
      &ndash; "{{ current_tags | join: ', ' }}"
    {% endif %}

    {% if current_page != 1 %}
      &ndash; {{ 'general.pagination.seo_title' | t }} {{ current_page }}
    {% endif %}

    {% unless page_title contains shop.name %}
      &ndash; {{ shop.name }}
    {% endunless %}
  </title>

  {% if page_description or shop.description != blank %}
    <meta name="description" content="{% if page_description %}{{ page_description }}{% else %}{{ shop.description }}{% endif %}">
  {% endif %}

  {{ 'theme.css' | asset_url | stylesheet_tag }}

  {% render 'favicon' %}

  {% if template contains 'collection' and current_tags %}
    <meta name="robots" content="noindex" />
    <link rel="canonical" href="{{ shop.url }}{{ collection.url }}" />
  {% else %}
    <link rel="canonical" href="{{ canonical_url }}" />
  {% endif %}

  {%
    render 'social-meta-tags',
    twitter_handle: settings.twitter-url
  %}

  {{ content_for_header }}

  <script>
    document.documentElement.className=document.documentElement.className.replace(/\bno-js\b/,'js');
    if(window.Shopify&&window.Shopify.designMode)document.documentElement.className+=' in-theme-editor';
    if(('ontouchstart' in window)||window.DocumentTouch&&document instanceof DocumentTouch)document.documentElement.className=document.documentElement.className.replace(/\bno-touch\b/,'has-touch');
  </script>

  {% render 'theme-options' %}
{% render 'wsg-custom' %}
</head>

<body
  class="
    {% if template contains 'contact' %}
      template-contact
    {% else %}
      template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}
    {% endif %}
    {% if settings.meta-font == "'Open Sans' sans-serif" %}
      font-open-sans
    {% endif %}
    {% if settings.main-title-uppercase %}
      uppercase
    {% endif %}
    product-grid-{{ settings.product_grid_aspect_ratio }}
  "
  >
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=187795038002910";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  {% render 'photoswipe' %}

  {% render 'quickshop' %}
  {% render 'cart-mini' %}

  {% section 'pxs-announcement-bar' %}
  {% section 'static-header' %}

  <div class="page-body-content">
    {{ content_for_layout }}
  </div>

  {% section 'static-footer' %}

  <script
    src="{{ 'atlantic.js' | asset_url }}"
    data-scripts
    data-shopify-api-url="{{ 'api.jquery.js' | shopify_asset_url }}"
    data-shopify-countries="/services/javascripts/countries.js"
    data-shopify-common="{{ 'shopify_common.js' | shopify_asset_url }}"
    data-shopify-cart="{{ "jquery.cart.min.js" | asset_url }}"
    data-customer-area="{{ 'customer_area.js'  | shopify_asset_url }}"
  >
  </script>
  {{ 'plugins.js' | asset_url | script_tag }}


  {% if template contains 'account' %}
    {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
  {% endif %}

  {% render 'structured-data' %}

  <script>
    (function () {
      function handleFirstTab(e) {
        if (e.keyCode === 9) { // the "I am a keyboard user" key
          document.body.classList.add('user-is-tabbing');
          window.removeEventListener('keydown', handleFirstTab);
        }
      }
      window.addEventListener('keydown', handleFirstTab);
    })();
  </script>
</body>
</html>
